@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
/* 
@import url('https://fonts.googleapis.com/css?family=Kode+Mono');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Sixtyfour'); 
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow: hidden;
  height: 100%;
}

svg {
  display: block;
  margin: auto;
  border-left: 1px #FC0 solid;
  border-right: 1px #FC0 solid;
}
